#Header {
  text-align: center;
  color: red;
}

.AllButtons {
  background-color: yellow;
  border-radius: 4px;
  border: 2px solid black;
  padding: 2px 10px;
  color: black;
}

.Intro {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
}

.Intro p {
  margin-top: 0em;
  margin-bottom: 0em;
}

#IntroText {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

.PlayScreen {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 26% 26% 26% 10%;
  grid-gap: 0.5rem;
}

#GameMode {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
}

#TurnD {
  grid-column-start: 2;
  grid-row-start: 2;
}

#PlayerName {
  grid-column-start: 2;
  grid-row-start: 3;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
  text-decoration: underline;
}

#PlayerHitPoints {
  grid-column-start: 2;
  grid-row-start: 4;
}

#PlayerShieldPoints {
  grid-column-start: 2;
  grid-row-start: 5;
}

#ComputerName {
  grid-column-start: 2;
  grid-row-start: 6;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
  text-decoration: underline;
}

#ComputerHitPoints {
  grid-column-start: 2;
  grid-row-start: 7;
}

#PlayerRoll {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
  width: 145px;
  height: 145px;
  border: 1px solid lightslategray;
  font-size: 200%;
  background-color: cyan;
}

#RollPlayer {
  grid-column-start: 3;
  grid-row-start: 4;
  text-align: center;
}

#ComputerRoll {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
  width: 145px;
  height: 145px;
  border: 1px solid lightslategray;
  font-size: 200%;
}

#RollComputer {
  grid-column-start: 4;
  grid-row-start: 4;
  text-align: center;
}

#TotalDiceValue {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  text-align: center;
}

#Roundwinner {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  text-align: center;
}

#Button1 {
  grid-column-start: 3;
  grid-row-start: 7;
}

#Button2 {
  grid-column-start: 4;
  grid-row-start: 7;
}

#RemarkScore {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 8;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0.5em;
}

.Menu {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
}

.Menu p {
  margin-top: 0em;
  margin-bottom: 0.2em;
}

#IntroChoice {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  text-align: center;
  font-size: x-large;
}

#ModeSelect {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  text-align: center;
}

#Button3 {
  width: 170px;
  height: 40px;
  text-align: center;
}

#Button4 {
  width: 190px;
  height: 40px;
  text-align: center;
}

#Button5 {
  width: 170px;
  height: 40px;
  text-align: center;
}

#BestTurn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  text-align: center;
  font-size: x-large;
}

#Button6 {
  width: 170px;
  height: 40px;
  text-align: center;
}

#Button7 {
  width: 190px;
  height: 40px;
  text-align: center;
}

#Button8 {
  width: 170px;
  height: 40px;
  text-align: center;
}

