#Header {
  text-align: center;
  color: red;
}

.AllButtons {
  background-color: yellow;
  border-radius: 4px;
  border: 2px solid black;
  padding: 2px 10px;
  color: black;
}

.Intro {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
}

#IntroText {
  grid-column-start: 2;
  grid-row-start: 1;
}

#IntroChoice {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  font-size: x-large;
}

.PlayScreen {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 26% 26% 26% 10%;
  grid-gap: 0.5rem;
}

#GameMode {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
}

#PlayerName {
  grid-column-start: 2;
  grid-row-start: 4;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
  text-decoration: underline;
}

#PlayerHitPoints {
  grid-column-start: 2;
  grid-row-start: 5;
}

#PlayerShieldPoints {
  grid-column-start: 2;
  grid-row-start: 6;
}

#ComputerName {
  grid-column-start: 2;
  grid-row-start: 7;
  font-weight: bold;
  font-size: large;
  font-variant: small-caps;
  text-decoration: underline;
}

#ComputerHitPoints {
  grid-column-start: 2;
  grid-row-start: 8;
}

#PlayerRoll {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
  font-size: 200%;
}

#RollPlayer {
  grid-column-start: 3;
  grid-row-start: 5;
  text-align: center;
}

#ComputerRoll {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
  font-size: 200%;
}

#RollComputer {
  grid-column-start: 4;
  grid-row-start: 5;
  text-align: center;
}

#TotalDiceValue {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  text-align: center;
}

#Roundwinner {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  text-align: center;
}

#Button1 {
  grid-column-start: 3;
  grid-row-start: 8;
}

#Button2 {
  grid-column-start: 4;
  grid-row-start: 8;
}

#RemarkScore {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 9;
  text-align: center;
  font-size: xx-large;
}

#Tips {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 10;
  text-align: center;
  font-size: smaller;
}

#ModeSelect {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 11;
  text-align: center;
  font-size: smaller;
}

.Menu {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
}

#ModeSelect {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}
